.admin-page {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chart h5 {
  text-align: center;
}

.inner-li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.group-list {
  flex-direction: column;
}

.submenu {
  background: #cfcfcf;
  align-self: flex-end;
  width: 100%;
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.sub-list .inner-list {
  display: flex;
  white-space: nowrap;
  padding: 5px;
}

.table-container {
  /* background: #000; */
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
}

.table-container .table {
  width: 50%;
}

.table-container .table h5 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  padding: 10px;
  background: #000;
  color: #fff;
}
td {
  padding: 10px;
  background: #e3e3e3;
  color: #0c0c0c;
}

@media screen and (max-width: 520px) {
  .admin-page {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
  }
}
