.admin-page {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chart h5 {
  text-align: center;
}

.inner-li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.group-list {
  flex-direction: column;
}

.submenu {
  background: #cfcfcf;
  align-self: flex-end;
  width: 100%;
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.sub-list .inner-list {
  display: flex;
  white-space: nowrap;
  padding: 5px;
}

.table-container {
  /* background: #000; */
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
}

.table-container .table {
  width: 50%;
}

.table-container .table h5 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

th {
  padding: 10px;
  background: #000;
  color: #fff;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background: #ffe1d7;
}

tr:nth-child(odd) {
  background: #dedeff;
}

td {
  padding: 10px;
  color: #0c0c0c;
}

.table-photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px #717171;
}

.view-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(185, 185, 254);
  color: #000;
  cursor: pointer;
}

.table-header {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
}

.table-count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-result {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-result h5,
.input-result p {
  font-size: 16px;
}
.input-result h5 {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
}

.table-count button {
  padding: 7px 10px;
  background: rgb(88, 88, 255);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table-count button:hover {
  background: rgb(50, 50, 255);
  transition: all 0.3s;
}

@media screen and (max-width: 720px) {
  .table-container {
    flex-direction: column;
  }

  .table {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .admin-page {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
  }
}
